<% @questions.each do |question| %>
    <%= link_to question_path(question) do %>
        <h4><%= link_to question.title, root_path %></h4>
        <p>質問日　<%= l question.created_at, format: :gyakuten %></P>
    <% end %>        
<% end %>


