<div class="question-container">
    
        <% @questions.each do |question| %>
        
            <div class="row">
                <div class="col-md-8">
                    <div class="question-title">
                        <p><%= link_to question.title, root_path %></p>
                    </div>
                </div>   
                <div class="col-md-4">
                    <div class="question-text">
                        <p>質問日　<%= question.created_at.to_s(:datetime_jp) %></P>
                    </div>
                </div>
            </div>
        
        <% end %>
   
</div>

