<div class="container-login">
  <div id="container">
    <section id="question">
      <div class="title">
      <h3>【質問】</h3>
      <%= @question.title %>
     </div>
     <hr>
      <div class="detail">
      <h3>【詳細】</h3>
      <%= markdown(@question.detail).html_safe %>
      </div>
  </div>
  </section>
</div>