@import "bootstrap/scss/bootstrap";

.container-login {
    @extend .container-fluid;
    max-width: 576px;
    padding: 2rem;
  }


.question-container {
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin-top: 30px;
  margin-bottom: 30px;
  border-style: ridge;
  border-radius: 10px;
  position: relative;
}

.row p {
  
  
}