@import "bootstrap/scss/bootstrap";

$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/brands";

.container-login {
    @extend .container-fluid;
    max-width: 576px;
    padding: 2rem;
  }

.table-container {
    margin: 0 auto;
    width: 710px;
  }

.aws-table-head {
    background-color: #007bff;
  }

.aws-text-content {
    width: 710px;
    margin: 0 auto;
    text-align: left;
    padding: 50px 0 160px 0;
  }

.content {
   margin: 0 auto; 
   text-align: center;
  }

.question {
  border: solid 2px;
  border-radius: 8px;
  border-color: black;
  box-shadow: 0 0 3px 0rgba(0,0,0,.12), 0 2px 3px 0 rgba(0,0,0,.22);
  transition: .3s;
  margin-top: 20px;
}

.question:hover {
  box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
	transform: translateY(-4px);
}

.text-right {
  opacity: 0.5;
}

.container {
  padding: 50px 0 160px 0;
}

input.search-text {
  padding-left: 46px;
}

form.seach-form {
  position: relative;
  max-width: 350px;
}

i.search-icon {
  position: absolute;
  left: 5%;
  top: 16px;
  z-index: 10;
}

.texts-wrapper{
  text-align: center;
}

.contents-title {
  padding: 40px 0 10px 0;
}