<nav class="navbar navbar-expand-lg navbar-dark fixed-bottom p-1 <%= line_color %>">

  <div class="row collapse navbar-collapse justify-content-center" id="footer">
    <div class="align-self-center">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link active" target="_blamk" rel="noopener" href="http://utina.yoshitokamizato.com/">ブログ</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" target="_blamk" rel="noopener" href="https://www.youtube.com/channel/UCwrDvYey9uKGBeh_l5IF-ag">Youtube</a>
        </li>

      </ul>
    </div>
  </div>
  
</nav>